*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Nunito",sans-serif;
  background: #f8f8f8;
}

.input{
  text-align: center;
  margin: 70px auto;
}

input[type="submit"]{
  padding: 15px 30px;
  background: #e7e7e7;
  border: none;
  border-radius: 1px;
  font-family: "Nunito",sans-serif;
  font-weight:bold;
  font-size: 15px;
}

#genre,#lan{
width: 600px;
height: 55px;
padding: 5px 10px;
background: #e7e7e7;
border: none;
border-radius: 1px;
font-family: "Nunito",sans-serif;
font-weight:bold;
font-size: 15px;
}
.card{
  width: 50%;
  background: #e7e7e7;
  height: 40%;
  margin: 50px auto;
  border-radius: 2px;
  font-size: 12px;
}


.close{
  float: right;
  margin-top: -2px;
  cursor: pointer;
  margin-right: 20px;
}

.card h1{
  padding: 5px 0;
  text-align: center;
}

.card p{
  text-align: center;
  margin:35px 0;
  font-size:15px;
}
#l,#g{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: bold;
}

body{background-color:grey;}
p{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-align: center;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color:cornflowerblue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color:dodgerblue;
}

.m{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  width:30%;
  margin:auto ;

}